body, html {
    width: 100%;
    padding: 0;
    margin: 0;
}

header, nav, main, section, footer {
    float: left;
    width: 98%;
    padding: 1%;
    margin: 0;
}

h1{
    font-size: 12vw;
    margin: 1%;
}
h2{
    font-size:7vw;
    margin:1%;
}
h3{
    font-size:4vw;
    margin: 1%;
}
.icon3{
    height: 3vw;
}
h4{
    font-size: 2vw;
    margin: 1%;
}
.icon4{
    height: 2vw;
}
span{
    font-size: 2vw;
}

iframe{
    width:80%;
}

center{
    margin: auto;
}

.menu{
    margin: auto;
    display:grid;
}
.menu .item{
    float: left;
    width: auto;
    background-color: rgb(51, 51, 51);
    margin: 1vw;
    padding: 1vw;
    text-decoration: none;
}
.item > .text{
    float: left;
    color: white;
    margin: 0;
    border: 0;
    padding: 0;
}
.item > .icon4{
    float: left;
}

#mainHeader{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,100,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    color: aliceblue;
}
#mainHeader>header{
    width: 96%;
    margin: 1%;
}
#mainHeader>header>section{
    width: auto;
    margin: 1%;
}
#mainHeader1>nav{
    margin-top: 1%;
    margin-bottom: 1%;
}


#mainHeader1>nav>section{
    width: auto;
    margin: 1%;
}
#mainHeader1>nav>section:hover{
    background: darkgray;
}
#mainHeader1>nav>section>a{
    font-size: 2vw;
}
#mainHeader1>nav>section>a>img{
    height: 2vw;
}

#programmingLanguageSkill>section{
    width: auto;
    margin: 1%;
    background-color: blanchedalmond;
}
#librarySkill>section{
    width:auto;
    margin: 1%;
    background-color: blanchedalmond;
}

footer{
    background-color: black;
    color:aliceblue;
}